<script src="/public/scripts/validation.js"></script>
<div class="container">
        <h2>Reset Password</h2>
        {{#if error}}
            <p style="color: red;">{{error}}</p>
        {{/if}}
        {{#if success}}
            <p style="color: green;">{{success}}</p>
        {{/if}}
        <form action="/auth/reset-password/{{token}}" method="post" onsubmit="return checkPass();">
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input class="validate" type="password" id="newPassword" name="newPassword" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <span id="retype_error" class="retype_error" style="color: red;"></span>
                <input class="validate" type="password" id="retype" name="retype" required>
            </div>
            <button type="submit" class="btn" value="ResetPassword" >Reset Password</button>
        </form>
    </div>