<form action="" method="post">
   <h1>Edit article</h1>
   Name: <input type="text" name="name" required value="{{ product.name }}">
   <br><br>
   Description: <input type="text" name="description" required value="{{ product.description }}">
   <br><br>
   Image: <input type="url" name="image" required value="{{ product.image }}">
   <br><br>
   <img src="{{ product.image }}" alt="" width="120" height="120">
   <br><br>
   <input class="btn" type="submit" value="Edit">
</form>